<div class="form mx-auto mt-5">
	<%= form_with model: @user, class:"form-group" do |f| %>
	<h1 class="h3 mb-3 font-weight-normal Gyellow text-center">Please register</h1>
	<div class="row">
		<div class="col">
			<%= f.text_field :first_name,placeholder: 'First name', class:"form-control"%>	
		</div>
		<div class="col">
			<%= f.text_field :last_name,placeholder:'Last name', class:"form-control"%>
		</div>
	</div>
		<%= f.email_field :email,placeholder: 'Email adress', class:"form-control mt-2" %>
	<div class="row  mt-2">
		<div class="col">
			<%= f.text_field :age, placeholder:'Age', class:"form-control"%>
		</div>
		<div class="col">
			<%= select_tag "city", options_for_select(City.all.map{|i| i.name}.insert(0, "City")), class:"form-control" %>
		</div>
	</div>
		<%= f.password_field :password, placeholder: 'Password', class:"form-control mt-2" %>
		<%= f.text_area :description, placeholder:'Description', class:"form-control mt-2"%>
		<%= f.check_box :cookies %>
		<%= f.label :cookies, "Remember me" %>
		<%= f.submit "Start gossiping", class:"btn btn-lg btn-warning btn-block mt-3"%>
	<% end %>
</div>