<h1 class="display-1 text-center mt-3 mb-5" style="font-weight:100;color:#e3c82e"><span style="color: #fff;">gossip</span> profile</h1>

<div class="container">
  <div class="card mx-auto" style="width: 18rem; background-color: #ffffff2b">
    <div class="card-header">
      <h5 class="card-title text-center" style="color:#e3c82e"><span style="color: #fff;"><%= @user.first_name %></span> <%= @user.last_name.upcase %></h5>
      <p class="text-white text-center">(<%= @user.gossips.count%> gossips)</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Member since :</b> <%= @user.created_at.strftime("%Y-%m-%d") %></li>
      <li class="list-group-item"><b>Email : </b><%= @user.email %></li>
      <li class="list-group-item"><b>Age : </b><%= @user.age %></li>
      <li class="list-group-item"><b>City : </b><%= link_to @user.city.name, city_path(@user.city.id) %></li>
      <li class="list-group-item"><b>Description : </b><%= @user.description %></li>
    </ul>
  </div>
</div>

<h2 class="display-4 text-center mt-5 mb-5" style="font-weight:100;color:#e3c82e"><span style="color: #fff;">last</span> gossips</h2>

<div class="container">
<div class="card-columns">
<% @user.gossips.last(3).each do |gossip| %>
  <div class="p3">
      <div class="card text-white" style="background-color: #ffffff2b;">
        <div class="card-body">
          <p class="card-title" style="font-weight:200;color:#fff">from <span style="font-weight:500;color:#e3c82e"><%= gossip.user.first_name %></span></p>
          <p class="card-title"><%= gossip.title %></p>
          <div class="text-center">
            <a class="btn btn-outline-info btn-sm" href="/gossips/<%= gossip.id %>" role="button">read</a>
        </div>
      </div>
    <div class="card-footer text-center" style="background-color: #ffffff1a;">
      <small class="text-muted">Created at <%= gossip.created_at.strftime("%Y-%m-%d | %H:%M") %></small>
    </div>
    </div>
  <% end %>
</div>