<h1 class="display-1 text-center mt-3 mb-5" style="font-weight:100;color:#e3c82e"><span style="color: #fff;">gossip</span> project</h1>

<div class="container">
<div class="card-row">
    <div class="p3">
      <div class="card text-white">
        <div class="card-body">
          <h4 class="card-title text-dark font-weight-light">
            from
            <span style="font-weight:500">
              <a href="<%= user_path(@gossip.user.id) %>" class="Gyellow text-decoration-none">
              <%= @gossip.user.first_name %>
              <%= link_to "Delete", gossip_path(@gossip.id), class:"btn btn-danger", method: :delete, data: { confirm: "Are you sure ?"} if @gossip.user.id == current_user.id %>
              </a>
            </span>    
          </h4>
          <h3 class="card-title text-dark px-5"><%= @gossip.title %></h3>
          <p class="card-text text-dark px-5"><%= @gossip.content %></p>

          <p class="text-dark text-center"><i class="fas fa-heart"></i> <%= @gossip.likes.count %></p>
          <div class="text-center">
          <%= link_to "Like this gossip", new_gossip_like_path(@gossip.id), class:"btn btn-danger" unless already_liked?  %>
          <%= link_to "Disike this gossip", gossip_like_path(@gossip, @gossip.likes.find_by(user: current_user)), class:"btn btn-outline-secondary" , method: :delete if already_liked? %>
          </div>

      </div>
      <div class="card-footer text-center bg-dark">
        <small class="text-white">Created at <%= @gossip.created_at.strftime("%Y-%m-%d | %H:%M") %>, at : <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id), class:"Gpurple"%></small>
      </div>
    </div>
</div>

<% @gossip.comments.each do |comment| %>
  <div class="card mt-3 mb-3">
    <div class="card-body">
      <h4 class="card-title text-warning "><%= comment.user.first_name %></h4>
      <p class="card-text"><%= comment.content %></p>
      <%= link_to "Edit comment", edit_gossip_comment_path(@gossip.id, comment.id), class:"btn btn-warning" if comment.user == current_user %>
      <%= link_to "Delete comment", gossip_comment_path(@gossip, comment), class:"btn btn-danger", method: :delete, data: { confirm: "Are you sure ?"} if comment.user == current_user %>
    </div>
  </div>
<% end %>


<%= form_with model: [@gossip, @gossip.comments.build], class:"d-flex" do |comment| %>
  <%= comment.text_area :content, class:"form-control " %>
  <%= comment.submit class:"btn btn-warning" %>
<% end %>


