<%= render "header/header" %>

<h1>Auteur : <%= @gossip.user.first_name %></h1>
<h2><%= @gossip.title %></h2>
<p><%= @gossip.content %></p>
<p>Créé le <%= @gossip.created_at.strftime("%d/%m/%Y à %H:%M") %></p>
