<h1 class="display-1 text-center mt-5 mb-5" style="font-weight:100;color:#e3c82e"><span style="color: #fff;">gossip</span> project</h1>

<div class="container">
<div class="card-row">
    <div class="p3">
      <div class="card text-white" style="background-color: #ffffff2b;">
        <div class="card-body">
          <p class="card-title" style="font-weight:200;color:#fff">from <span style="font-weight:500;color:#e3c82e"><%= @gossip.user.first_name %></span>    
            <a href="<%= user_path(@gossip.user.id) %>" class="badge badge-success">view profile</a>
            <%= link_to "Liker", new_gossip_like_path(@gossip.id) unless already_liked? %>
            <%= link_to "Unliker", gossip_like_path(@gossip, @gossip.likes.find_by(user: current_user)), method: :delete if already_liked? %></p>
          <h5 class="card-title"><%= @gossip.title %></h5>
          <p class="card-text"><%= @gossip.content %></p>
      </div>
      <div class="card-footer text-center" style="background-color: #ffffff1a;">
        <small class="text-muted">Created at <%= @gossip.created_at.strftime("%Y-%m-%d | %H:%M") %>, at : <%= link_to @gossip.user.city.name, city_path(@gossip.user.city.id) %></small>
        <%= link_to "Delete", gossip_path(@gossip.id), method: :delete, data: { confirm: "Are you sure ?"} if @gossip.user.id == current_user.id %>
      </div>
    </div>
</div>

<% @gossip.comments.each do |comment| %>
  <p><%= comment.user.first_name %></p>
  <p><%= comment.content %></p>
  <%= link_to "Edit comment", edit_gossip_comment_path(@gossip.id, comment.id) %>
  <%= link_to "Delete comment", gossip_comment_path(comment), method: :delete, data: { confirm: "Are you sure ?"}  %>
<% end %>


<%= form_with model: [@gossip, @gossip.comments.build] do |comment| %>

  <%= comment.text_area :content %>
  <%= comment.submit %>
<% end %>
