<h1 class="text-warning"><%= @city.name %></h1>
<div class="container">
<div class="card-columns">
<% @city.users.each do |user| %>
	<% user.gossips.each do |gossip| %>
    <div class="p3">
      <div class="card text-white" style="background-color: #ffffff2b;">
        <div class="card-body">
          <p class="card-title" style="font-weight:200;color:#fff">from <span style="font-weight:500;color:#e3c82e"><%= gossip.user.first_name %></span></p>
          <p class="card-title"><%= gossip.title %></p>
          <div class="text-center">
            <a class="btn btn-outline-success btn-sm" href="/gossips/<%= gossip.id %>" role="button">read</a>
        </div>
      </div>
    <div class="card-footer text-center" style="background-color: #ffffff1a;">
      <small class="text-muted">Created at <%= gossip.created_at.strftime("%Y-%m-%d | %H:%M") %></small>
    </div>
    </div>
    <% end %>
  <% end %>
</div>