<div class="jumbotron">
<%= form_with model: @gossip, class:"d-flex flex-column align-items-left w-25 form-group" do |form| %>
	<%= form.label :title, "Title" %>
	<%= form.text_field :title, class:"form-control" %>

	<%= form.label :content, "Gossip content" %>
	<%= form.text_area :content, class:"form-control" %>

	<%= form.submit "Create a gossip", class:"btn btn-warning mt-3"%>
<% end %>
</div>
